@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/background.png');
    background-repeat: repeat;
}

.font-roboto {
    font-family: 'Roboto', serif;
    font-weight: 500;
    font-style: normal;
}

.text-center-webkit {
    text-align: -webkit-center;
}